body {
    padding: 0;
    margin: 0;
}

#mainContainer {
    background: darkslategrey;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    background-image: url("assets/pictures/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.poseTouch {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poseBtn {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.poseImg {
    border-radius: 200px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.scoreQuitContainer {
    margin: 10px;
    height: 70%;
}

.scoreQuit {
    background: blueviolet;
    width: 21%;
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#score {
    background: darkslategrey;
    width: 100%;
    border-radius: 10px;
    color: lightgrey;
    text-align: center;
    font-size: 40px;
}

#quit {
    background: midnightblue;
    margin-top: 10px;
    color: lightgrey;
    border: none;
    border-radius: 10px;
    height: 30px;
}

#quit:focus {
    outline: none;
}